body {
  background-color: var(--primari-white-color);
  color: var(--title-text-color);
}
.container {
  width: 1200px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
}
.page-header {
  padding-top: 18px;
  padding-bottom: 18px;
  border-bottom: 1px solid #ececec;
  background-color: rgb(0, 38, 255);
}
.page-header > .container {
  display: flex;
  align-items: center;
}
.search-form {
  margin: 0 auto;
  position: relative;
}
.form {
  width: 358px;
  height: 45px;
}
.btn-search {
  position: absolute;
  right: 0;
  height: 45px;
  width: 45px;
}
